.project-image {
    width: 20px;
    height: 30px;
}

.project-card:hover{
    cursor: pointer;
}

.tag-border{
    background-color: #F3f3f3;
    padding: 8px;
    border-radius: 8px;
}

.matched{
    background-color: greenyellow;
}

.mb-4 {
    color: #184A73; 
}

h4 {
    color: #184A73;
}