.skill{
    display: inline-block;
    background-color: yellowgreen;
    padding: 10px;
    border-radius: 10px;
    color: white;

}

.odd{
    background-color: burlywood;
}

.profile-image{
    height: 200px;
}

.edit-button-wrapper{
    position: absolute;
    right: 0;
}
.input-box{
    width: 100%;
}
.description-text-area{
    width: 100%;
    min-height: 200px;
}