.loginHeading {
    margin-left: 575px;
    margin-top: 30px;
    }

.registerInvite {
    margin-left: 400px;
}

.google-button {
    margin-bottom: 20px;
}

.handleSubmit {
    width: 100px;
}

.Form {
    width: 40px;
}

h1, h4, h6 {
    color: #184A73;
}