.registerHeading {
    margin-left: 560px;
    margin-top: 25px;
    }
    
.loginInvite {
    margin-left: 400px;
    margin-bottom: 25px;
}

.google-button {
    margin-bottom: 20px;
}

.handleSubmit {
    width: 100px;
}

.Form {
    width: 40px;
}

h1, h4, h6 {
    color: #184A73;
}